@tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar input:focus {
  outline: none;
  border-color: initial;
}

::-webkit-scrollbar {
  display: none;
}

/* Change the white to any color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #19232d inset !important;
}

/*Change text in autofill textbox*/
/* input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text white !important;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
  border-color: white !important;
  color: white !important;
}
